## Maven ##
/target/

## Eclipse ##
/.classpath
/.project
/.settings/

## NetBeans ##
nbactions.xml
nb-configuration.xml

## vim ##
*.swp

## Interactive tests ##
/samples/

## MacOSX ##
.DS_Store
pom.xml.releaseBackup